<div class="d-flex flex-column flex-shrink-0 p-3 h-100" style="width: 100%;">
    <a href="/" class="d-flex align-items-center texto-center mb-3 mb-md-0 me-md-auto text-decoration-none title-div">
      <img src="assets/img/sun.png" class="bi me-2" width="60" height="60" />
      <span class="title">Gamefy</span>
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link" aria-current="page">
          <img src="assets/icons/list.png" class="bi me-2" width="25" height="25" />
          Atividades
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <img src="assets/icons/mission.png" class="bi me-2" width="25" height="25" />
          Missões
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <img src="assets/icons/achievement.png" class="bi me-2" width="25" height="25" />
          Conquistas
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <img src="assets/icons/pet.png" class="bi me-2" width="25" height="25" />
          Pets
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <img src="assets/icons/shop.png" class="bi me-2" width="25" height="25" />
          Loja
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <img src="assets/icons/chat.png" class="bi me-2" width="25" height="25" />
          Chat
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <img src="assets/icons/group.png" class="bi me-2" width="25" height="25" />
          Grupos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <img src="assets/icons/send.png" class="bi me-2" width="25" height="25" />
          Discussão
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <img src="assets/icons/star.png" class="bi me-2" width="25" height="25" />
          Eventos
        </a>
      </li>
    </ul>
  </div>