<div class="containe fill">
  <div class="row h-100">
    <div class="col-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-8" style="background-color: #fff;">
      <app-navbar></app-navbar>
      <app-welcome-message></app-welcome-message>

      
      <div class="row">
        <div class="col-8">
          <div class="row equal">
            <div class="col">
              <app-activities-board></app-activities-board>
            </div>
            <div class="col">
              <p>TODO current mission</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>TODO points</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <p>TODO ranking</p>
        </div>
      </div>

    </div>

    <div class="col-2">
      <app-profile-sidebar></app-profile-sidebar>
    </div>
  </div>
</div>