<div class="home-background">
  <app-home-header></app-home-header>

  <iframe width="350px" height="500px" src="https://www.youtube.com/live_chat?v=t8FZfvIGllU&embed_domain=localhost" ></iframe>


  <div class="container text-center">
    <section class="row align-items-center" style="height: 100vh;">
      <div class="col">
        <img src="assets/img/home-illustration.png" alt="">
        <h2>Alcance seus objetivos junto com outras pessoas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non ligula diam. Mauris venenatis facilisis justo sit amet luctus. </p>
      </div>
      <div class="col">
        <h1>Comece agora sua Gamificação</h1>
        <p>Mais de N pessoas já estão participando</p>
        <button type="button" class="btn btn-lg btn-secondary" data-bs-toggle="modal" data-bs-target="#registerModal">Criar nova Conta</button>
        <button type="button" class="btn btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#loginModal">Já tenho Conta</button>
      </div>
    </section>
    <section class="row align-items-center">
      <h2>O jeito mais divertido de aperfeiçoar e conectar</h2>
      <p>**********</p>
    </section>
  </div>
</div>


<app-register-form></app-register-form>
<app-login-form></app-login-form>


